.site-header{

}
.main-navigation{
  background-color: $white;
  padding: 10px 0;
  .top-bar-logo{
    margin-left: 30px;
    .logo{
      display: block;
      height: 51px;
      width: 136px;
      background: url("../images/themdoviet-logo.png");
      background-size: contain;
    }
  } 
}